.yc-button {
  background: rgba(0, 0, 0, 0);
  fill: rgba(214, 214, 214, 0.8);
  z-index: 9999;
  position: absolute;
  bottom: -2px;
  left: 0px;
  padding: 6px 6px 0 2px;
  display: none;
  cursor: pointer;
}

.yc-button:hover {
  background: rgba(0, 0, 0, 0.8);
  fill: #fff;
  display: block;
}

.ytd-thumbnail:hover ~ .yc-button {
  display: block;
}

.copyright-error {
  top: 0;
  left: 0;
  width: 100%;
  background: rgb(202, 33, 33);
  padding: 4px 6px 4px 6px;
  text-decoration: none;
  color: #fff;
  display: flex;
  flex-direction: column;
}
